<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ins</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li <% if (active === "index") { %> class="active" <% } %> ><a href="/">Index <span class="sr-only">(current)</span></a></li>
          <%
            if (login) {
          %>
            <li <% if (active === "me") { %> class="active" <% } %> ><a href="/me">Me</a></li>
            <li <% if (active === "others") { %> class="active" <% } %> ><a href="/userlist">Others</a></li>
          <%}%>
          </ul>
        <%
          if (!login) {
        %>
          <ul class="nav navbar-nav navbar-right">
            <li <% if (active === "register") { %> class="active" <% } %> ><a href="/register">Sign Up</a></li>
            <li <% if (active === "login") { %> class="active" <% } %> ><a href="/login">Sign In</a></li>
          </ul>
        <%
          } else {
        %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" style="padding: 10px 15px"><img src="/avatar/<%=avatar%>" alt="" class="avatar" width="30"></a></li>
            <li <% if (active === "settings") { %> class="active" <% } %> ><a href="">Settings</a></li>
            <li><a href="/dologout">Logout</a></li>
          </ul>
        <%
          }
        %>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>