<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico">

  <title>ins</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/jumbotron.css" rel="stylesheet">
  <style type="text/css">
    #dangerAlert {
      display: none;
      margin-top: 10px;
    }

    .grid {
      height: 100px;
      overflow: auto;
      margin-top: 5px;
    }

    .avatar {
      border: 0px;
      border-radius: 50%;
    }

    .detdynamic-footer {
      color: #003366;
      font-size: 13px;
    }

    .dynamic-header {
      margin-bottom: 1px;
    }

    .dynamic-header>a{
      color: #003366;
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
    }

    #paginatorDiv {
      text-align: center; 
    }
  </style>
</head>

<body>
  <% include header.ejs %>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <% if(!login) { %>
    <div class="container">
      <div class="row">
        <h1>
          Welcome to miniIns！
        </h1>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p>This is a very simple dynamic sharing site.</p>
          <p> Welcome to join us!</p>
          <p>
            <a class="btn btn-primary" href="/register" role="button">Sign Up &raquo;</a>
          </p>
        </div>
        <div class="col-lg-6">
          <p>If you already have an account, please sign in.</p>
          <div id="dangerAlert">
            <div class="alert alert-danger" role="alert"></div>
          </div>
          <form>
            <div class="form-group">
              <label for="account">Account</label>
              <input placeholder="please input account……" type="text" class="form-control" id="account">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="please input password……">
            </div>
            <button type="button" id="loginBtn" class="btn btn-primary">Sign In &raquo;</button>
          </form>
        </div>
      </div>
    </div>
    <%} else {%>
    <div class="container">
      <div class="row">
        <div class="col-lg-1">
          <a href="/setavatar"><img src="/avatar/<%=avatar%>" alt="" class="avatar"></a>
          <p style="text-align: center;width: 100px;"><%=username%></p>
        </div>
        <div class="col-lg-8 col-lg-offset-1">
          <textarea name="dynamicContent" id="dynamicContent" cols="80" rows="6"></textarea><br>
          <button type="button" id="postBtn" class="btn btn-primary">Post Dynamic&raquo;</button>
        </div>
      </div>
    </div>
    <%}%>
  </div>

  <div class="container">
    <% if(login) { %>
      <div class="row" id="allDynamicDiv">
      </div>
      <div id="paginatorDiv"> 
        <ul id="pageLimit"></ul> 
      </div>
    <%}%>
    <hr>

    <footer>
      <p>&copy; 2019 Author, Sliver.</p>
    </footer>
  </div>

  <script type="text/template" id="dynamicDiv">
    <div class="col-lg-4 col-md-6 col-xs-12">
      <p class="dynamic-header">
        <a href="/user/{{=userid}}">
          <img width="35" src="/avatar/{{=avatar}}" alt="" class="avatar">
          {{=username}}
        </a>
      </p>
      <div class="grid">
          {{=content}}
      </div>
      <p>
        <a class="detdynamic-footer" href="/dynamic/{{=_id}}">
          Details
        </a>
      </p>
      <hr/>
    </div>
  </script>

  <script src="/js/underscore-noflect.js"></script>
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-paginator.min.js"></script>
  <script type="text/javascript">
   
    // 分页配置
    $(function(){
      var pageSize = 9;
      getDynamicsByPage(1);
      $.ajax({
        url: "/getdynamicsamount",
        type: "get",
        success: function (count) {
          var pageAmount = Math.ceil(Number(count) / parseFloat(pageSize));
          $('#pageLimit').bootstrapPaginator({
            currentPage: 1, // 当前页
            totalPages: pageAmount, // 总页数
            size: "normal", // 应该是页眉的大小
            bootstrapMajorVersion: 3,// bootstrap的版本要求
            alignment: "center",
            numberOfPages: 5, // 显示的页数
            // 如下的代码是将页眉显示的中文显示我们自定义的中文
            itemTexts: function (type, page, current) {
                  switch (type) {
                  case "first": return "首页";
                  case "prev": return "<<";
                  case "next": return ">>";
                  case "last": return "末页";
                  case "page": return page;
                }
            },
            // 给每个页眉绑定一个事件，其实就是ajax请求，其中page变量为当前点击的页上的数字
            onPageClicked: function (event, originalEvent, type, page) {
              getDynamicsByPage(page);
            }
          });
        },
      })
    });
    // ajax读取动态
    function getDynamicsByPage(page) {
      $.ajax({
        url: `/getalldynamics?page=${page - 1}`,
        type: "get",
        success: function(result){
          $('#allDynamicDiv').children().remove();
          var compiled = _.template($('#dynamicDiv').html());
          (function iterator(i){
            if (i === result.dynamics.length) {
              return;
            }
            let data = {...result.dynamics[i]};
            $.ajax({
              url: `/getuserinfo?username=${result.dynamics[i].username}`,
              type: "get",
              success: function (result2) {
                data['avatar'] = result2.userInfo.avatar;
                data['userid'] = result2.userInfo._id;
                console.log(data)
                $('#allDynamicDiv').append(compiled(data));
                iterator(i + 1);
              },
            });
          })(0);
        }
      });
    }
    $('input').focus(function () {
        $('#dangerAlert').fadeOut();
    });
    $('#loginBtn').click(function () {
        // 注册ajax提交表单
        $.post("/dologin", {
            "account": $("#account").val(),
            "password": $("#password").val(),
        }, function (result) {
            if (result === "1") {
                // 登录成功
                window.location.href = '/';
            } else if (result === "-1") {
                // 用户名不存在
                $('#dangerAlert').fadeIn();
                $('#dangerAlert>div:first-child').html("用户名不存在，请检查输入。");
            } else if (result === "-2") {
                // 密码错误
                $('#dangerAlert').fadeIn();
                $('#dangerAlert>div:first-child').html("用户名与密码不匹配，请检查输入。");
            } else if (result === "-3") {
                // 服务器错误
                $('#dangerAlert').fadeIn();
                $('#dangerAlert>div:first-child').html("服务器出错，请重新尝试。");
            }
        });
    })
    $('#postBtn').click(function () {
      // 发表动态ajax提交表单
      $.post("/dopostdynamic", {
            "dynamicContent": $("#dynamicContent").val(),
        }, function (result) {
            if (result === "1") {
                // 发布成功
                alert("发布成功");
                window.location.href = "/";
            } else if (result === "-3") {
                // 服务器错误
                $('#dangerAlert').fadeIn();
                $('#dangerAlert>div:first-child').html("服务器出错，请重新尝试。");
            }
        });
    })
</script>
</body>

</html>